<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LoadTestDBConString" value="Data Source=.\SQLEXPRESS;Initial Catalog=LoadTest2010;Persist Security Info=True;Integrated Security=SSPI" />
    <add key="DiagnosticsStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=uatussawadcvp01;AccountKey=Ao76WxSbYDHYmEhmQUe6SNRNnt/ACmEn3V/9kPnRa4/9JnnoySNlMfT1eTchX1xJuNMxYyQKtU44cU8Cpc7TsQ==;EndpointSuffix=core.windows.net" />
    <add key="PerfCounterTempTableName" value="PerfCountersTemp" />
    <add key="DBSchemaName" value="dbo" />
    <add key="CSVFileLocation" value="d:\tmp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>